/*fonts*/
@font-face {
  font-family: "beautiful";
  src: url(../fonts/Beautiful\ People\ Personal\ Use.ttf);
}
@font-face {
  font-family: "rubik";
  src: url(../../fonts/Rubik.ttf);
}
/*Header*/
header .container-fluid {
  background-color: #221f1f;
  height: 85px;
  border-top: 10%;
  border-color: #c973ff;
}
header .navbar {
  padding-block-start: 0%;
  padding-block-end: 0%;
  font-size: 20px;
}
header .navbar .navbar-brand {
  color: white;
}
header .btn {
  margin: 1%;
  background-color: black;
}
header .btn:hover {
  margin: 1%;
  background-color: #aebaf8;
}

/*body de las paginas*/
body {
  background-image: linear-gradient(90deg, #c973ff, #aebaf8);
}

h1 {
  color: white;
  background-color: #221f1f;
  font-family: "beautiful";
  text-align: center;
  padding-block-start: 2%;
  padding-block-end: 2%;
}

h2 {
  text-align: center;
  padding-block-start: 2%;
  padding-block-end: 2%;
}

.sub-text {
  text-align: center;
}

.sub-prod {
  text-align: center;
}

p {
  font-family: "rubik";
  font-size: 18px;
  padding-left: 2%;
  padding-right: 2%;
}

#galeria .col-lg-4 {
  margin: 0;
  padding: 25px;
}

#galeria img {
  width: 100%;
  height: 360px;
}

#galeria img:hover {
  border: 5px solid #ff8ddb;
  display: inline-block;
  margin: 0 0.5rem;
  animation: bounce;
  animation-duration: 2s;
}

h1.galeriatp:hover {
  display: inline-block;
  margin: 0 0.5rem;
  animation: bounce;
  animation-duration: 2s;
}

h1.galeriatp {
  background: none;
  color: black;
}

div.btn-group {
  position: absolute;
  top: 15%;
  left: 2%;
  transform: translate(-10, -10);
}

ul.dropdown-menu {
  background-color: #ff8ddb;
}

/*Tarjetas*/
body .card-body {
  background-color: #ff8ddb;
}
body .card-title {
  text-align: center;
  color: black;
}
body .card {
  background-color: #ff8ddb;
}
body .card-text {
  text-align: center;
  color: black;
}
body .col {
  padding-left: 3%;
  padding-right: 3%;
  padding-block-end: 3%;
}
body .rounded-5 {
  height: 80%;
}

/*Footer*/
.footer {
  background-color: #221f1f;
  margin-block-start: 2%;
}
.footer p {
  font-size: 17px;
  color: white;
}
.footer a {
  text-decoration: none;
}
.footer i {
  font-size: 25px;
  color: white;
}

/*Formulario de Contacto*/
#contacto {
  padding-block-end: 0%;
}
#contacto #titlecontact {
  color: black;
  padding-top: 3%;
  text-align: center;
  font-size: 60px;
  font-family: "beautiful";
  animation: bounceInRight;
  animation-duration: 2s;
}
#contacto input {
  background-color: white;
  width: 70%;
  margin-left: 15%;
  font-size: 16px;
  padding: 16px 16px;
  border-radius: 10px;
  border-color: black;
  margin-bottom: 20px;
  display: inline-block;
  animation: bounceInLeft;
  animation-duration: 2s;
}
#contacto textarea {
  background-color: white;
  width: 70%;
  margin-left: 15%;
  font-size: 16px;
  padding: 16px 16px;
  border-radius: 10px;
  border-color: black;
  margin-bottom: 20px;
  display: inline-block;
  animation: bounceInLeft;
  animation-duration: 2s;
}
#contacto input:focus-within {
  outline: none;
  border-color: #ff8ddb;
  border-width: 3px;
}
#contacto textarea:focus-within {
  outline: none;
  border-color: #ff8ddb;
  border-width: 3px;
}
#contacto button#contact {
  color: white;
  background-color: black;
  border-radius: 20px;
  border-color: white;
  font-size: 22px;
  padding: 8px;
  text-align: center;
  display: flex;
  margin: auto;
  animation: zoomIn;
  animation-duration: 2s;
}
#contacto button#contact:hover {
  cursor: pointer;
  color: black;
  background-color: #ff8ddb;
  border-color: black;
}

.subtexto {
  color: black;
  padding-top: 3%;
  text-align: center;
  font-size: 30px;
  font-family: "rubik";
  animation: bounceInRight;
  animation-duration: 2s;
}

/*Formulario de Registro*/
/*variables*/

/*# sourceMappingURL=style.css.map */
