/*body de las paginas*/
body{
    background-color: #ffffb5;
}

h1{
    color: black;
    background-color: #C9B8DA;
    font-family: "beautiful";
    text-align: center;
    padding-block-start: 2%;
    padding-block-end: 2%;
}

h2{
    text-align: center;
    padding-block-start: 2%;
    padding-block-end: 2%; 
}

.sub-text{
    text-align: center;

}
.sub-prod{
    text-align: center;
}

