/*Tarjetas*/
body{
    .card-body{
        background-color: #ff8ddb;
        
    }
    
    .card-title{
        text-align: center;
        color: black;
    }
    .card{
        background-color: #ff8ddb;
    }
    .card-text{
        text-align: center;
        color: black;
    }
    
    
    
    .col{
        padding-left: 3%; padding-right: 3%;
        padding-block-end: 3%;
    }
    
    .rounded-5{
        height: 80%;
    }
}

