
/*Footer*/
.footer{
    background-color: #221f1f;
    margin-block-start: 2%;
    p{
        font-size: 17px;
        color: white;
    }
    
    a{
        text-decoration: none;
    }
    
    i{
        font-size: 25px;
        color: white;

    } 

}

