
/*Footer*/
.footer{
    background-color: #C9B8DA;
    margin-block-start: 2%;
    p{
        font-size: 17px;
    }
    
    a{
        text-decoration: none;
    }
    
    i{
        font-size: 25px;
    }    

}

