#galeria .col-lg-4{
    margin: 0; 
    padding: 25px;
}

#galeria img{
    width: 100%;
    height: 360px;
}

#galeria img:hover{
    border: 5px solid #ff8ddb;
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: bounce;
    animation-duration: 2s;
}

h1.galeriatp:hover{
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: bounce;
    animation-duration: 2s;
}
h1.galeriatp{
    background: none;
    color: black;

}

div.btn-group{
    position: absolute;
    top: 13%;
    left: .5%;
    transform: translate(-10, -10);
}

ul.dropdown-menu{
    background-color: #ff8ddb;
}










