/*Header*/
header{
    .container-fluid{
        background-color: #221f1f;
        height: 85px;
        border-top: 10%;
        border-color: #c973ff;
  
    }
    
    .navbar{
        padding-block-start: 0%;
        padding-block-end: 0%;
        font-size: 20px;

        .navbar-brand{
            color: white;

        }

    }

    .btn{
        margin: 1%;
        background-color: black; 
    }
    .btn:hover{
        margin: 1%;
        background-color: #aebaf8;
    }
    
}
.navbar-collapse{
    z-index: 1;
    width: auto;
    height: auto;
    background-color: #221f1f;
    
}




